<h1>Editing palette</h1>

<%= render "form", palette: @palette %>

<br>
<%= link_to "add color", new_color_path %>
<div>
  <%= link_to "Show this palette", @palette %> |
  <%= link_to "Back to palettes", palettes_path %>
</div>
