<p style="color: green"><%= notice %></p>
<h1>Palettes</h1>

<div id="palettes">
  <% @palettes.each do |palette| %>
    <% @palette = palette %>
    <div class="bg-light p-1 mb-2">
    <%= render palette %>
    <p class="my-1">
      <%= link_to "Show this palette", palette, class: "btn btn-primary" %>
    </p>
    </div>
  <% end %>
</div>

<%= link_to "New palette", new_palette_path %>
