<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Palettes:</strong>
  </p>
  <div class="container-fluid bg-light pb-2">
    <div class="row">
    <% user.palettes.each do |palette| %>
    <div class="col d-flex flex-column">
      <%= link_to palette.title, palette, class: "link-secondary pb-1" %>
      <%= render "palettes/swatches", palette: palette %>
      </div>
    <% end %>
    </div>
    </div>
</div>
