<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<div id="users">
  <% @users.each do |user| %>
    <div class="bg-light p-1 my-1">
      <p class="m-1">
        <strong>Name: </strong><%= link_to user.name, user %>
        <strong>Palettes:</strong> <%= user.palettes.count %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
