<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <p>
      <strong>Name: </strong><%= link_to user.name, user %>
      <strong>Palettes:</strong> <%= user.palettes.count %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
